/ve
/etc/*.ini
/weasyl.egg-info
*.egg
__pycache__
/version.txt
/weasyl/_version.py
/weasyl/assets.json
/node_modules
/.sass-cache
/log.txt
/ssl
/libweasyl
/.stamp-*
/.coverage
/htmlcov
/.eggs

# Assets
/assets/css
/assets/js/site.js
/weasyl/assets.json
/weasyl/static

# Docs
/docs/build
