/ve
/etc/*.ini
/weasyl.egg-info
*.egg
__pycache__
/version.txt
/weasyl/_version.py
/weasyl/assets.json
/node_modules
/.sass-cache
/log.txt
/.vagrant
/ssl
/libweasyl
/.stamp-*
/.coverage
/htmlcov

# os crud #
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
