<label class="active-label">
  <span>{{ _(field.description) }}</span>
  <input type="password" name="{{ field.name }}"
	 id="{{ field.oid }}" class="text-input {{ field.widget.css_class or '' }}"
	 tabindex="{{ field.schema.tabindex | default(1) }}"
	 {%- if field.required %} required{% endif %} />
</label>
