{% if show_password_container %}
<div class="show-password-container">
<button type="button" class="show-password if-js" data-target="#{{ field.oid }}" aria-hidden="true"></button>
{% endif %}
<label class="active-label {{ label_class }}">
  <span>{{ _(field.description) }}</span>
  <input type="password" name="{{ field.name }}"
         id="{{ field.oid }}" class="text-input {{ field.widget.css_class or '' }}"
         tabindex="{{ field.schema.tabindex | default(1) }}"
         {%- if field.required %} required{% endif %}
         {%- if field.autofocus %} autofocus{% endif %} />
</label>
{% if show_password_container %}
</div>
{% endif %}
