<label class="active-label {{ label_class }}">
  <span>{{ _(field.description) }}</span>
  <input type="{{ field_type | default('text') }}" name="{{ field.name }}" value="{{ cstruct }}"
         id="{{ field.oid }}" class="text-input {{ field.widget.css_class or '' }}"
         tabindex="{{ field.schema.tabindex | default(1) }}"
         {%- if field.required %} required="required" aria-required="true"{% endif %}
         {%- if field.autofocus %} autofocus{% endif %} />
  {{ extra_html }}
</label>
