<textarea {%- if field.widget.rows %} rows="{{ field.widget.rows }}" {% endif %}
          {%- if field.widget.cols %} cols="{{ field.widget.cols }}" {% endif %}
          {%- if field.widget.css_class %} class="{{ field.widget.css_class }}" {% endif %}
          id="{{ field.oid }}" name="{{ field.name }}"
          {%- if field.widget.placeholder %} placeholder="{{ _(field.widget.placeholder) }}"
          {%- elif field.description %} placeholder="{{ _(field.description) }}" {% endif %}
          {%- if field.required %} required{% endif %}
          {%- if field.autofocus %} autofocus{% endif %} >
  {{- cstruct -}}
</textarea>
