{% extends "layout.jinja2" %}

{% block title %}{{ user.profile.username }}’s {% block user_page_title %}{% endblock %}{% endblock %}
{% block body %}

{% if user.banner %}
<div class="user-banner"><img src="{{ user.banner['display_url'] }}" alt="" /></div>
{% endif %}

<header class="user-header">
  {{ f.user_avatar(user, 'user-avatar') }}
  <div class="user-basic page-title-bar col">
    <h1 class="title user-username">
      {% block user_title %}{{ f.user_link(user) }}{% endblock %}
    </h1>
    {% block user_header %}{% endblock %}
  </div><!-- .user-basic -->
  <nav class="col-side">
    <ul class="nav-list grid user-nav">
      {% macro sidebar_link(name, title=None) %}
      <li class="grid-item {% if sidebar == name %}active{% endif %}">
        <a class="action" href="{{ request.path_for(user, *([name] if name else [])) }}">
          {{ title or caller() }}
        </a>
      </li>
      {% endmacro %}
      {{ sidebar_link(None, 'Profile') }}
      {{ sidebar_link('works', 'Works') }}
      {{ sidebar_link('journal', 'Journal') }}
      {% call sidebar_link('commissions') %}
      Commissions <span class="dot bg-positive">(open)</span>
      {% endcall %}
      {{ sidebar_link('collections', 'Collections') }}
      {{ sidebar_link('characters', 'Characters') }}
      {{ sidebar_link('favorites', 'Favorites') }}
      {{ sidebar_link('shouts', 'Shouts') }}
    </ul>
  </nav><!-- .user-col-nav -->
</header><!-- .user-header -->

<div class="col-main-wrap"><!-- float layout helper -->
  <div class="content user-content col-main content-group">
    {% block user_body %}{% endblock %}
  </div>
</div>

<div class="content-2 col-side-after content-group">
  {% block user_sidebar %}{% endblock %}
</div><!-- .user-supplement -->

{% endblock %}
