{% macro user_link(user) -%}
<a href="{{ request.path_for(user) }}" class="username">{{ user.profile.username }}</a>
{%- endmacro %}

{% macro user_avatar(user, class_='') -%}
<a href="{{ request.path_for(user) }}" class="avatar {{ class_ }}">
  <img src="{{ user.avatar['display_url'] }}" alt="{{ user.profile.username }}’s avatar">
</a>
{%- endmacro %}

{% macro by_user(user) -%}
<span class="type-alt">by</span> {{ user_link(user) }}
{%- endmacro %}

{% macro datetime(dt) %}
<time class="type-secondary type-alt" datetime="{{ dt.isoformat() }}">{{ request.format_datetime(dt) }}</time>
{% endmacro %}

{% macro render_field(field) -%}
{{ field.serialize(extra_html=caller()) | safe }}
{%- endmacro %}

{% macro form_errors(errors) %}
{% if errors %}
<p>Some of the data you entered wasn't good:</p>
<ul>
  {%- for node, messages in errors -%}
  {%- set name = node.error_name | default(node.description) -%}
  {% if name %}<li>{{ name }} <ul>{% endif %}
    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
  {% if name %}</ul></li>{% endif %}
  {%- endfor -%}
</ul>
{% endif %}
{% endmacro %}

{% macro login_form(form) %}
<form action="{{ request.resource_path(None, 'signin') }}" method="post" class="login-form standard-form small-width">
  {{ form_errors(errors) }}
  {{ form['csrf_token'].serialize() | safe }}
  {{ form['user'].serialize() | safe }}
  {{ form['password'].serialize() | safe }}
  <button type="submit" name="signin" class="action disclose" tabindex="1">Sign in</button>
  <ul class="actions">
    <li><a href="#">Create a new account</a></li>
    <li><a href="#">Forgot your info?</a></li>
  </ul>
</form>
{% endmacro %}

{% macro logout_form() %}
<form action="{{ request.resource_path(None, 'signout') }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
  {{ caller() }}
</form>
{% endmacro %}

{% macro submission_thumb(submission, klass='grid-item', with_caption=True, with_user=True) %}
<figure class="{{ klass }}" data-init-aspect="{{ submission.submission_media['aspect_ratio'] }}">
  <a href="{{ request.path_for(submission) }}" class="thumb-container">
    <img class="thumb" src="{{ submission.submission_media['display_url'] }}" alt="" />
    <div class="rating {{ submission.rating }}">Rated {{ submission.rating }}</div>
    {% if with_caption -%}
    <figcaption class="info">
      <h4 class="title">{{ submission.title }}</h4>
      {% if with_user -%}
      <p class="byline">{{ by_user(submission.owner) }}</p>
      {%- endif %}
    </figcaption>
    {%- endif %}
  </a>
</figure>
{% endmacro %}

{% macro show_comment(comment, ownerid) %}
<li class="comment">
  {{ user_avatar(comment.poster) }}
  {% set user_class = 'owner' if comment.userid == ownerid else 'staff' if comment.poster.is_staff else '' %}
  <article class="comment-box {{ user_class }}">
    <header class="comment-info">
      {{ user_link(comment.poster) }}
      {% if user_class == 'owner' %}
      <span class="comment-attr owner">(page owner)</span>
      {% elif user_class == 'staff' %}
      <span class="comment-attr staff">(staff)</span>
      {% endif %}
      {{ comment.unixtime | relative_date }}
    </header>
    <section class="comment-content formatted">
      {{ comment.content | markdown }}
    </section>
    <ul class="comment-actions action-set">
      <li><a href="#" class="action small">Reply</a></li>
      <li><a href="#" class="icon icon-action-warning">Report</a></li>
    </ul>
  </article>
  <ol>
    {% for subc in comment.subcomments %}{{ show_comment(subc, ownerid) }}{% endfor %}
  </ol>
</li><!-- .comment -->
{% endmacro %}
