<!DOCTYPE html>
<html class="no-js">
  {% import 'functions.jinja2' as f with context %}
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{% endblock %} | Weasyl</title>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=PT+Serif:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ 'weasyl:static/style/public.css' | static_path }}" type="text/css" />

    <script>
      if ('webkitRequestAnimationFrame' in window) {
        document.documentElement.className += ' webkit-background-clip';
      }
    </script>

  </head>

  <body>

    <a href="#main" id="skip-to-content">Skip to content</a>

    <header class="page-header" role="banner">

      <a href="{{ request.resource_path(context) }}" class="header-logo block" tabindex="0">
        <img class="mark" src="{{ 'weasyl:static/images/logo-mark.svg' | static_path }}" alt="Weasyl logomark" />
        <img class="type" src="{{ 'weasyl:static/images/logo-type.svg' | static_path }}" alt="Weasyl" />
      </a>

      {% if request.session.user %}
      <div class="header-actions-container">
        <span class="header-actions-toggle icon icon-nav-gears toggle" data-toggle-target="next" aria-hidden="true"></span>
        <div class="header-actions small-menu">
          <a href="#" class="action small">Inbox <span class="icon icon-nav-notes"></span></a>
          <a href="#" class="action small">Settings <span class="icon icon-nav-gear"></span></a>
          {% call f.logout_form() %}
          <button type="submit" name="signout" class="action disclose">Sign out</button>
          {% endcall %}
        </div><!-- .header-actions -->
      </div><!-- /header-actions-container -->
      {% endif %}

      <nav class="header-nav small-menu" role="navigation">
        <a href="{{ request.resource_path(context, 'share') }}" tabindex="0" class="color-art bg-art block">Share</a>
        <a href="{{ request.resource_path(context, 'explore') }}" tabindex="0" class="color-comment bg-comment block">Explore</a>
        <a href="https://forums.weasyl.com/" tabindex="0" class="color-stat bg-stat block">Forums</a>
        <a href="{{ request.resource_path(context, 'help') }}" tabindex="0" class="color-journal bg-journal block">Help</a>
        <form action="{{ request.resource_path(context, 'search') }}" class="header-search-form">
          <label class="header-search-label bg-note">
            <input type="search" name="s" class="header-search-input text-input" />
            <span class="header-search-icon icon icon-search"></span>
          </label>
        </form>
      </nav><!-- .header-nav -->

      {% if request.session.user %}
      <div class="header-user group">
        {{ f.user_avatar(request.session.user) }}
        <p class="text-container align-vert">
          <span class="text">
            <span class="type-alt">Welcome back,</span> {{ f.user_link(request.session.user) }}
          </span>
        </p>
      </div><!-- .header-user -->
      {% else %}
      <div class="header-user group guest">
        <p class="text-container align-vert">
          <span class="text">
            <span class="type-alt">Welcome!</span>
            <a href="{{ request.resource_path(context, 'signin') }}" class="toggle" data-toggle-target="#login-modal">
              Sign in
            </a>
            <span class="type-alt">or</span>
            <a href="{{ request.resource_path(context, 'register') }}">create a new account</a>
          </span>
        </p>
      </div><!-- .header-user -->
      {% endif %}

      <a class="small-menu-toggle toggle icon icon-nav-gears max-m" data-toggle-target=".small-menu" aria-hidden="true"></a>

    </header><!-- .page-header -->


    <div id="login-modal" class="modal toggle-target">
      <div class="content">
        <h3 class="title secondary">Sign in</h3>
        {{ f.login_form(request.login_forms['signin']) }}
        <a href="#" class="action small close toggle" data-toggle-target="#login-modal">Close</a>
      </div>
      <a href="#" class="screen toggle" data-toggle-target="#login-modal"><!-- click anywhere to close --></a>
    </div><!-- #login-modal -->


    <main role="main" id="main">
      {% block body %}{% endblock %}
    </main>


    <footer class="page-footer" role="contentinfo">
      <nav class="footer-nav grid">
        <dl class="grid-item">
          <dt>
            <a class="footer-logo" href="{{ request.resource_path(context) }}">
              <img class="mark" src="{{ 'weasyl:static/images/logo-mark-light.svg' | static_path }}" alt="Weasyl logomark" />
            </a>
          </dt>
          <dd><a href="{{ request.resource_path(context, 'share') }}">Share</a></dd>
          <dd><a href="{{ request.resource_path(context, 'explore') }}">Explore</a></dd>
          {% if request.session.user %}
          <dd><a href="{{ request.resource_path(context, '~', 'settings') }}">Settings</a></dd>
          <dd>
            {% call f.logout_form() %}
            <button type="submit" name="signout" class="action disclose">Sign out</button>
            {% endcall %}
          </dd>
          {% else %}
          <dd><a href="{{ request.resource_path(context, 'register') }}">New account</a></dd>
          <dd><a href="{{ request.resource_path(context, 'signin') }}">Sign in</a></dd>
          {% endif %}
        </dl>
        <dl class="grid-item">
          <dt><h4 class="title secondary">About</h4></dt>
          <dd><a href="{{ request.resource_path(context, 'help', 'about') }}">About Weasyl</a></dd>
          <dd><a href="{{ request.resource_path(context, 'help', 'faq') }}">FAQ</a></dd>
          <dd><a href="{{ request.resource_path(context, 'staff') }}">Staff</a></dd>
          <dd><a href="{{ request.resource_path(context, 'thanks') }}">Awesome people</a></dd>
        </dl>
        <dl class="grid-item">
          <dt><h4 class="title secondary">Community</h4></dt>
          <dd><a href="https://forums.weasyl.com/">Forums</a></dd>
          <dd><a href="http://blog.weasyl.com/">Tumblr</a></dd>
          <dd><a href="https://twitter.com/Weasyl"><span class="icon icon-social icon-tw">Twitter:</span> @Weasyl</a></dd>
          <dd><a href="https://twitter.com/WeasylDev"><span class="icon icon-social icon-tw">Twitter:</span> @WeasylDev</a></dd>
        </dl>
        <dl class="grid-item">
          <dt><h4 class="title secondary">Policy</h4></dt>
          <dd><a href="{{ request.resource_path(context, 'policy/community') }}">Community Guidelines</a></dd>
          <dd><a href="{{ request.resource_path(context, 'policy/tos') }}">Terms of Service</a></dd>
          <dd><a href="{{ request.resource_path(context, 'policy/copyright') }}">Copyright Policy</a></dd>
          <dd><a href="{{ request.resource_path(context, 'policy/scoc') }}">Staff Code of Conduct</a></dd>
          <dd><a href="{{ request.resource_path(context, 'policy/privacy') }}">Privacy Policy</a></dd>
        </dl>
        <dl class="grid-item">
          <dt><h4 class="title secondary">Support</h4></dt>
          <dd><a href="{{ request.resource_path(context, 'help') }}">Help topics</a></dd>
          <dd><a href="{{ request.resource_path(context, 'help', 'ratings') }}">Ratings guidelines</a></dd>
          <dd><a href="https://forums.weasyl.com/vbulletin/forumdisplay.php?15-Site-amp-Forum-Support">Support forum</a></dd>
          <dd><a href="mailto:support@weasyl.com">support@weasyl.com</a></dd>
          <dd><a href="mailto:sysop@weasyl.com">sysop@weasyl.com</a></dd>
        </dl>
        <div class="grid-item decoration">
          <img src="{{ 'weasyl:static/images/wesley.png' | static_path }}" alt="" />
        </div>
      </nav>
      <div class="footer-info type-secondary">
        <p class="footer-stats">591 users active in the last hour; 4136 users active in the last day</p>
        <p class="footer-copyright">© 2012–2014 Weasyl LLC</p>
        <p class="footer-revision">52da019</p>
      </div>
    </footer>

    <script src="{{ 'weasyl:static/js/scripts.js' | static_path }}"></script>

  </body>
</html>
