<!DOCTYPE html>
<html class="no-js">
  {% import 'functions.jinja2' as f with context %}
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="IE=edge;chrome=1" http-equiv="X-UA-Compatible" />

    <title>{% block title %}{% endblock %} | Weasyl</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700" type="text/css" />
    <link rel="stylesheet" href="{{ 'assets/css/site.css' | asset_path }}" type="text/css" />

    <link rel="apple-touch-icon" href="{{ 'assets/images/favicon-iphone-76.png' | asset_path }}" sizes="76x76">
    <link rel="apple-touch-icon" href="{{ 'assets/images/favicon-iphone-retina.png' | asset_path }}" sizes="120x120">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon-16.png' | asset_path }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon-96.png' | asset_path }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon-192.png' | asset_path }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon-32.png' | asset_path }}" sizes="32x32">

  </head>

  <body>

    <a href="#main" id="skip-to-content">Skip to content</a>

    <div id="login-modal" class="modal">
      <div class="screen toggle" data-toggle-target="#login-modal"></div>
      <div class="content">
        <button class="modal-close toggle" data-toggle-target="#login-modal" aria-hidden="true">[close]</button>
        <header class="primary-title-wrap">
          <h2 class="title primary text-grad">Sign in</h2>
        </header>
        {{ f.login_form(request.login_forms['signin'], None) }}
      </div>
    </div><!-- #login-modal -->

    <header class="page-header group" role="banner">

      <a href="{{ request.resource_path(None) }}" class="header-logo">
        <img class="header-logo-mark block" src="{{ 'assets/images/logo-mark.svg' | asset_path }}" alt="Weasyl Logomark" />
        <img class="header-logo-type block" src="{{ 'assets/images/logo-type.svg' | asset_path }}" alt="Weasyl Logomark" />
      </a>

      {% if request.current_user %}
      <div class="header-actions-container">
        <button class="header-actions-toggle icon icon-gears toggle min-m" data-toggle-target="next" aria-hidden="true"></button>
        <div class="header-actions mobile-menu">
          <p class="user">Logged in as {{ f.user_link(request.current_user) }}</p>
          <a href="#" class="action small">Messages <span class="icon icon-ha-note"></span></a>
          <a href="#" class="action small">Settings <span class="icon icon-ha-gear"></span></a>
          <a href="#" class="action small">Sign out <span class="icon icon-ha-exit"></span></a>
        </div><!-- .header-actions -->
      </div><!-- /header-actions-container -->
      {% else %}
      <ul class="header-guest action-list">
        <li><a href="{{ request.resource_path(None, 'signin') }}" class="action small toggle" data-toggle-target="#login-modal" aria-hidden="true">Sign in</a></li>
        <li><a href="{{ request.resource_path(None, 'register') }}" class="action small"><span class="max-s" aria-hidden="true">Join</span><span class="min-s">New account</span></a></li>
      </ul>
      {% endif %}

      <nav class="header-nav{% if not request.current_user %} guest{% endif %} mobile-menu" role="navigation">
        <a href="{{ request.resource_path(None, 'explore') }}">Explore</a>
        {% if request.current_user %}
	<a href="{{ request.resource_path(None, 'share') }}">Share</a>
        {% endif %}
        <a href="https://forums.weasyl.com/">Forums</a>
        <a href="{{ request.resource_path(None, 'help') }}">Help</a>
        <form action="{{ request.resource_path(None, 'search') }}" method="get" class="header-search-form" role="search">
          <input type="text" name="s" class="header-search-input" placeholder="Search" />
          <button type="submit" class="header-search-submit icon icon-search min-m"></button>
        </form>
      </nav>

      {% if request.current_user %}
      {{ f.user_avatar(request.current_user, class_='header-avatar') }}
      {% endif %}

      <button class="mobile-menu-toggle toggle icon icon-gears max-m" data-toggle-target=".mobile-menu" aria-hidden="true"></button>

    </header><!-- .page-header -->

    {% block body_open %}<section role="main" id="main">{% endblock %}
      {% block body %}{% endblock %}
    </section>

    <footer class="page-footer" role="contentinfo">
      <nav class="footer-nav grid">
        <dl class="grid-item block-line">
          <dt class="group">
            <a class="footer-logo block" href="{{ request.resource_path(None) }}">
              <img class="mark block" src="{{ 'assets/images/logo-mark-light.svg' | asset_path }}" alt="Weasyl logomark" />
            </a>
          </dt>
          <dd><a href="{{ request.resource_path(None, 'explore') }}">Explore</a></dd>
          {% if request.current_user %}
          <dd><a href="{{ request.resource_path(None, 'share') }}">Share</a></dd>
          <dd><a href="{{ request.resource_path(None, '~', 'settings') }}">Settings</a></dd>
          <dd>
            {% call f.logout_form() %}
            <button type="submit" name="signout" class="action disclose">Sign out</button>
            {% endcall %}
          </dd>
          {% else %}
          <dd><a href="{{ request.resource_path(None, 'register') }}">New account</a></dd>
          <dd><a href="{{ request.resource_path(None, 'signin') }}">Sign in</a></dd>
          {% endif %}
        </dl>
        <dl class="grid-item block-line">
          <dt><h4 class="title secondary">About</h4></dt>
          <dd><a href="{{ request.resource_path(None, 'help', 'about') }}">About Weasyl</a></dd>
          <dd><a href="{{ request.resource_path(None, 'help', 'faq') }}">FAQ</a></dd>
          <dd><a href="{{ request.resource_path(None, 'staff') }}">Staff</a></dd>
          <dd><a href="{{ request.resource_path(None, 'thanks') }}">Awesome people</a></dd>
          <dd><a href="{{ request.resource_path(None, 'ads') }}">Ad repository</a></dd>
          <dd><a href="{{ request.resource_path(None, 'colophon') }}">Colophon</a></dd>
        </dl>
        <dl class="grid-item block-line">
          <dt><h4 class="title secondary">Community</h4></dt>
          <dd><a href="https://forums.weasyl.com/">Forums</a></dd>
          <dd><a href="http://blog.weasyl.com/">Tumblr</a></dd>
          <dd><a href="https://twitter.com/Weasyl"><span class="icon icon-social icon-tw">Twitter:</span> @Weasyl</a></dd>
          <dd><a href="https://twitter.com/WeasylDev"><span class="icon icon-social icon-tw">Twitter:</span> @WeasylDev</a></dd>
        </dl>
        <dl class="grid-item block-line">
          <dt><h4 class="title secondary">Policy</h4></dt>
          <dd><a href="{{ request.resource_path(None, 'policy', 'community') }}">Community Guidelines</a></dd>
          <dd><a href="{{ request.resource_path(None, 'policy', 'tos') }}">Terms of Service</a></dd>
          <dd><a href="{{ request.resource_path(None, 'policy', 'copyright') }}">Copyright Policy</a></dd>
          <dd><a href="{{ request.resource_path(None, 'policy', 'scoc') }}">Staff Code of Conduct</a></dd>
          <dd><a href="{{ request.resource_path(None, 'policy', 'privacy') }}">Privacy Policy</a></dd>
        </dl>
        <dl class="grid-item block-line">
          <dt><h4 class="title secondary">Support</h4></dt>
          <dd><a href="{{ request.resource_path(None, 'help') }}">Help topics</a></dd>
          <dd><a href="{{ request.resource_path(None, 'help', 'ratings') }}">Ratings guidelines</a></dd>
          <dd><a href="https://forums.weasyl.com/vbulletin/forumdisplay.php?15-Site-amp-Forum-Support">Support forum</a></dd>
          <dd><a href="mailto:support@weasyl.com">support@weasyl.com</a></dd>
          <dd><a href="mailto:sysop@weasyl.com">sysop@weasyl.com</a></dd>
        </dl>
        <div class="grid-item footer-decoration">
          <img src="{{ 'assets/images/wesley.png' | asset_path }}" alt="" />
        </div>
      </nav>
      <div class="footer-info type-secondary">
        <p class="footer-stats">591 users active in the last hour; 4136 users active in the last day</p>
        <p class="footer-copyright">© 2012–2016 Weasyl LLC</p>
        <p class="footer-revision">{{ SHA }}</p>
      </div>
    </footer>

    <script>
      if ('webkitRequestAnimationFrame' in window) {
          document.getElementsByTagName('html')[0].className += ' webkit-background-clip';
      }
    </script>
    <script src="{{ 'assets/js/site.js' | asset_path }}"></script>

  </body>
</html>
