libweasyl

deform_jinja2==0.5+weasyl.1   # https://github.com/Weasyl/deform_jinja2
Jinja2==2.7.3
MarkupSafe==0.23
PasteDeploy==1.5.2
pyramid==1.5.2
pyramid-authstack==1.0.1
pyramid-deform==0.2
pyramid-debugtoolbar==2.2.2
pyramid-jinja2==2.3.3
pyramid-tm==0.8
raven==5.1.1
waitress==0.8.9
WebOb==1.4

colander==1.0
decorator==3.4.0
deform==2.0a2
peppercorn==0.5
python3-memcached==1.51
repoze.lru==0.6
simplejson==3.6.5
transaction==1.4.3
venusian==1.0
zope.deprecation==4.1.1
zope.interface==4.1.1
zope.sqlalchemy==0.7.5
