{% extends "layout.jinja2" %}
{% import 'functions.jinja2' as f with context %}

{% block title %}Share{% endblock %}

{% block body %}
<header class="primary-title-wrap">
  <h2 class="title primary text-grad">Share {{ category }} works</h2>
</header>
<div class="content">
  <div class="category group">
    <h3><a href="{{ request.resource_path(context, 'visual') }}">Visual</a></h3>
    <p>putcher pitchers</p>
  </div>
  <div class="category group">
    <h3><a href="{{ request.resource_path(context, 'character') }}">Character</a></h3>
    <p>show me ur refs</p>
  </div>
  <div class="category group">
    <h3><a href="{{ request.resource_path(context, 'literary') }}">Literary</a></h3>
    <p>show me ur refs</p>
  </div>
  <div class="category group">
    <h3><a href="{{ request.resource_path(context, 'multimedia') }}">Multimedia</a></h3>
    <p>lemme get out my mixtape</p>
  </div>
  <div class="category group">
    <h3><a href="{{ request.resource_path(context, 'journal') }}">Journal</a></h3>
    <p>DEAR DIARY: IM LEAVING THE FANDOM FUR EVER</p>
  </div>
</div><!-- .content -->
{% endblock %}
