{% extends "layout.jinja2" %}

{% block title %}Share {{ category.title() }} Works{% endblock %}
{% block body %}
<div class="content">
  <header class="primary-title-wrap">
    <h2 class="title primary text-grad">Share {{ category }} works</h2>
  </header>
  <form action="" method="post" enctype="multipart/form-data">
    {{ f.form_errors(_errors) }}
    {{ _form['csrf_token'].serialize() | safe }}
    {{ _form['submission'].serialize(async_upload=request.resource_path(None, 'share', 'upload')) | safe }}
    {% if category in ('literary', 'multimedia') %}
    {{ _form['embed_link'].serialize() | safe }}
    {{ _form['cover'].serialize() | safe }}
    {% endif %}
    {{ _form['thumbnail'].serialize() | safe }}
    {{ _form['title'].serialize() | safe }}
    {{ _form['folder'].serialize() | safe }}
    {{ _form['rating'].serialize() | safe }}
    {{ _form['subcategory'].serialize() | safe }}
    {{ _form['description'].serialize() | safe }}
    {{ _form['tags'].serialize() | safe }}
    <button name="post">Submit</button>
  </form>
</div><!-- .content -->
{% endblock %}
