{% extends "layout.jinja2" %}

{% block title %}Sign In{% endblock %}
{% block body %}
<div class="content">
  <header class="primary-title-wrap">
    <h3 class="title primary text-grad">Create a new account</h3>
  </header>

  <form action="" method="post" class="form modal-width">
    {{ f.form_errors(_errors) }}
    {{ _form['csrf_token'].serialize() | safe }}
    {{ _form['username'].serialize(label_class='side') | safe }}
    <p id="username-help" class="form-help side content-block">
      <span class="help">This will identify you to others on Weasyl. Up to 30 characters</span>
      <span class="if-valid" aria-hidden="true"><span class="icon icon-valid"></span> &#8220;<span id="valid-user"></span>&#8221; is available</span>
      <span class="if-invalid" aria-hidden="true"><span class="icon icon-invalid"></span> This username is already taken. Please try another</span>
    </p>

    {{ _form['password'].serialize(label_class='side') | safe }}
    <p id="pw-help" class="form-help side content-block">
      <span class="help">Eight characters or more. More is better!</span>
      <span class="if-valid" aria-hidden="true"><span class="icon icon-valid"></span> Meets our requirements</span>
      <span class="if-invalid" aria-hidden="true"><span class="icon icon-invalid"></span> We need at least eight characters here</span>
    </p>

    {{ _form['password_confirm'].serialize(label_class='side content-block') | safe }}

    {% call f.render_field(_form['email'], field_type='email') %}
    {% endcall %}
    <p id="email-help" class="form-help side content-block">
      <span class="help">We won't spam you or share your email with others. <a href="#" target="_blank">Our privacy policy</a></span>
      <span class="if-valid" aria-hidden="true"><span class="icon icon-valid"></span> We'll send a confirmation email to this address</span>
      <span class="if-invalid" aria-hidden="true"><span class="icon icon-invalid"></span> This email address is already registered with us. Would you like to <a href="login.htm" class="toggle" data-toggle-target="#login-modal">sign in</a> or <a href="#">recover your password</a>?</span>
    </p>

  <label class="passive-label side">When were you born?</label>
    <div class="form-date group">
      {{ _form['day_born'].serialize(descriptive_option='Day') | safe }}
      {{ _form['month_born'].serialize(descriptive_option='Month') | safe }}
      {{ _form['year_born'].serialize(descriptive_option='Year') | safe }}
    </div>
    <p id="dob-help" class="form-help side layout-block-small">
      <span class="help"><a href="#" target="_blank">Why do we need this?</a></span>
      <span class="if-valid" aria-hidden="true"><span class="icon icon-valid"></span> You're old enough to make an account</span>
      <span class="if-invalid" aria-hidden="true"><span class="icon icon-invalid"></span> We need a valid birthdate here. <a href="#" target="_blank">Why?</a></span>
    </p>
    
    <div class="formatted content-block">
      <p class="text-align-center">By signing up, you agree to follow <a href="#community-guidelines-url" target="_blank">the rules</a>.</p>
    </div>
    
    <div class="pagination">
      <button type="submit" name="register" class="action disclose" tabindex="1">Create my account</button>
    </div>
  </form>

</div><!-- .content -->
{% endblock %}
