{% extends "layout.jinja2" %}

{% block title %}Sign In{% endblock %}
{% block body %}
<div class="content">
  <div class="title-wrap small-width">
    <h3 class="title primary">Create a new account</h3>
  </div>

  <form action="" method="post" class="standard-form medium-width">
    {{ form['csrf_token'].serialize() | safe }}
    {{ form['username'].serialize() | safe }}
    <div class="grid compact">
      <div class="grid-item grid-1-2-s">
        {{ form['password'].serialize() | safe }}
      </div>
      <div class="grid-item grid-1-2-s">
        {{ form['password_confirm'].serialize() | safe }}
      </div>
    </div><!-- .grid -->
    <p class="form-helper-text type-alt type-secondary">
      Minimum of eight characters
    </p>
    {% call f.render_field(form['email']) %}
    <p class="form-helper-text type-alt type-secondary">
      We won't spam you or share your email. <a href="#privacypolicy" target="_blank">Privacy Policy</a>
    </p>
    {% endcall %}
    <div class="grid compact">
      <div class="grid-item grid-1-3-s align-bottom">
        {{ form['day_born'].serialize() | safe }}
      </div>
      <div class="grid-item grid-1-3-s align-bottom">
        {{ form['month_born'].serialize() | safe }}
      </div>
      <div class="grid-item grid-1-3-s align-bottom">
        {{ form['year_born'].serialize() | safe }}
      </div>
    </div>
    <p class="form-helper-text type-alt type-secondary">
      <a href="#helpfile" target="_blank">Why do we need this?</a>
    </p>
    <div class="text-align-right">
      <button type="submit" name="register" class="action disclose" tabindex="1">Create my account</button>
    </div>
  </form>

</div><!-- .content -->
{% endblock %}
