{% extends "layout.jinja2" %}

{% block title %}Sign In{% endblock %}
{% block body %}
<div class="content">
  <div class="title-wrap small-width">
    <h3 class="title primary">Create a new account</h3>
  </div>

  <form action="" method="post" class="standard-form medium-width">
    {{ f.form_errors(_errors) }}
    {{ _form['csrf_token'].serialize() | safe }}
    {{ _form['username'].serialize() | safe }}
    <div class="grid compact">
      <div class="grid-item grid-1-2-s">
        {{ _form['password'].serialize() | safe }}
      </div>
      <div class="grid-item grid-1-2-s">
        {{ _form['password_confirm'].serialize() | safe }}
      </div>
    </div><!-- .grid -->
    <p class="form-helper-text type-alt type-secondary">
      Minimum of eight characters
    </p>
    {% call f.render_field(_form['email'], field_type='email') %}
    <p class="form-helper-text type-alt type-secondary">
      We won't spam you or share your email. <a href="#privacypolicy" target="_blank">Privacy Policy</a>
    </p>
    {% endcall %}
    <div class="grid compact">
      <div class="grid-item grid-1-3-s align-bottom">
        {{ _form['day_born'].serialize(descriptive_option='Day') | safe }}
      </div>
      <div class="grid-item grid-1-3-s align-bottom">
        {{ _form['month_born'].serialize(descriptive_option='Month') | safe }}
      </div>
      <div class="grid-item grid-1-3-s align-bottom">
        {{ _form['year_born'].serialize(descriptive_option='Year') | safe }}
      </div>
    </div>
    <p class="form-helper-text type-alt type-secondary">
      <a href="#helpfile" target="_blank">Why do we need this?</a>
    </p>
    <div class="text-align-right">
      <button type="submit" name="register" class="action disclose" tabindex="1">Create my account</button>
    </div>
  </form>

</div><!-- .content -->
{% endblock %}
