{% extends "layout.jinja2" %}

{% block title %}Sign In{% endblock %}
{% block body %}
<div class="content">
  <div class="title-wrap small-width">
    <h3 class="title primary">Sign In</h3>
  </div>
  {{ f.login_form(_form, _errors) }}
</div><!-- .home-update -->
{% endblock %}
