{% extends "layout.jinja2" %}

{% block title %}Index{% endblock %}
{% block body %}
<div class="home-views group">
  <ul class="home-tabs action-set tabs">
    <li><a href="#" class="action active disclose below">Everything</a></li>
    <li><a href="#" class="action">Visual</a></li>
    <li><a href="#" class="action">Literature</a></li>
    <li><a href="#" class="action">Multimedia</a></li>
    <li><a href="#" class="action">Random</a></li>
    <li><a href="#relevantSettingsPage" class="icon icon-gear">Tabs settings</a></li>
  </ul>
  <form class="view-options" action="#" method="post">
    <label class="view-options-label">
      <input type="checkbox" name="critique" />
      <span class="icon icon-view-crit">Show only submissions that have requested critique</span>
    </label>
    <label class="view-options-label">
      <input type="checkbox" name="filter-bypass" />
      <span class="icon icon-view-bypass">Temporarily bypass my tag filters</span>
    </label>
    <fieldset class="view-options-group">
      <label class="view-options-label">
        <input type="radio" name="view-mode" value="mosaic" checked="checked" />
        <span class="icon icon-view-mosaic">Mosaic view</span>
      </label>
      <label class="view-options-label">
        <input type="radio" name="view-mode" value="grid" />
        <span class="icon icon-view-grid">Grid view</span>
      </label>
    </fieldset>
    <input type="submit" value="Go" />
  </form>
</div><!-- .home-views -->

<div class="mosaic">
  {% for sub in submissions %}{{ f.submission_thumb(sub, 'item') }}{% endfor %}
</div><!-- .mosaic -->

<div class="center-action"><a href="#" class="action disclose">More from Everything</a></div>

{% if streams %}
  <div class="content-2 home-streaming content-group">
    <!-- aligns an inline block .title.primary for better webkit gradient coverage -->
    <div class="title-wrap">
      <h3 class="title primary">Streaming Now</h3>
    </div>
    <div class="grid">
      {% for stream in streams[:3] %}
        <div class="grid-item grid-1-3-m">
          {{ f.user_avatar(stream.owner) }}
          <div class="info">
            {{ f.user_link(stream.owner) }}
            <a href="{{ stream.owner.profile.stream_url }}" class="link">{{ stream.owner.profile.stream_url }}</a>
            <p class="type-alt type-secondary start-time">since {{ stream.start_time | relative_date }}</p>
            <p class="description formatted">{{ stream.owner.profile.stream_text }}</p>
          </div><!-- .info -->
        </div><!-- .grid-item -->
      {% endfor %}
    </div><!-- .grid -->

    {% if streams | length > 3 %}
      <div class="center-action"><a href="streams.htm" class="action disclose">{{ streams | length }} total</a></div>
    {% endif %}
  </div><!-- .home-streaming -->
{% endif %}

<div class="content home-update content-group">
  <div class="title-wrap">
    <h3 class="title primary">{{ latest_update.title }}</h3>
    <h4 class="title-complement">
      Written {{ latest_update.unixtime | relative_date }} {{ f.by_user(latest_update.owner) }}
    </h4>
  </div>
  <div class="formatted">
    {{ latest_update.content | markdown }}
  </div><!-- .formatted -->
  <div class="center-action"><a href="#" class="action disclose">Discuss this update</a></div>
</div><!-- .home-update -->
{% endblock %}
