{% extends "layout.jinja2" %}

{% block title %}Index{% endblock %}
{% block body %}
<div class="home-views group">
  <ul class="home-tabs action-set tabs">
    <li><a href="#" class="action active disclose below">Everything</a></li>
    <li><a href="#" class="action">Visual</a></li>
    <li><a href="#" class="action">Literature</a></li>
    <li><a href="#" class="action">Multimedia</a></li>
    <li><a href="#" class="action">Random</a></li>
    <li><a href="#relevantSettingsPage" class="icon icon-gear">Tabs settings</a></li>
  </ul>
  <form class="view-options" action="#" method="post">
    <label class="view-options-label">
      <input type="checkbox" name="critique" />
      <span class="icon icon-view-crit">Show only submissions that have requested critique</span>
    </label>
    <label class="view-options-label">
      <input type="checkbox" name="filter-bypass" />
      <span class="icon icon-view-bypass">Temporarily bypass my tag filters</span>
    </label>
    <fieldset class="view-options-group">
      <label class="view-options-label">
        <input type="radio" name="view-mode" value="mosaic" checked="checked" />
        <span class="icon icon-view-mosaic">Mosaic view</span>
      </label>
      <label class="view-options-label">
        <input type="radio" name="view-mode" value="grid" />
        <span class="icon icon-view-grid">Grid view</span>
      </label>
    </fieldset>
    <input type="submit" value="Go" />
  </form>
</div><!-- .home-views -->

<div class="mosaic">
  {% for sub in submissions %}
  <figure class="item" data-init-aspect="{{ sub.submission_media['aspect_ratio'] }}">
    <a href="{{ request.path_for(sub) }}" class="thumb-container">
      <img class="thumb" src="{{ sub.submission_media['display_url'] }}" alt="" />
      <div class="rating {{ sub.rating }}">Rated {{ sub.rating }}</div>
      <figcaption class="info">
        <h4 class="title">{{ sub.title }}</h4>
        <p class="byline"><span class="type-alt">by</span> {{ sub.owner.profile.username }}</p>
      </figcaption>
    </a>
  </figure>
  {% endfor %}
</div><!-- .mosaic -->

<div class="center-action"><a href="#" class="action disclose">More from Everything</a></div>

<div class="content-2 home-streaming content-group">
  <!-- aligns an inline block .title.primary for better webkit gradient coverage -->
  <div class="title-wrap">
    <h3 class="title primary">Streaming Now</h3>
  </div>
  <div class="grid">
    <div class="grid-item grid-1-3-m">
      <a href="#" class="avatar"><img src="//lorempixel.com/200/200" alt="AbrahammerLIncolnlog's avatar" /></a>
      <div class="info">
        <a href="#" class="username">AbrahammerLincolnlog</a>
        <a href="#" class="link">http://www.livestream.com/hooray</a>
        <p class="type-alt type-secondary start-time">since 17:22 MST</p>
        <p class="description formatted">Short description about stream. Quinoa wayfarers gluten-free, Bushwick Echo Park</p>
      </div><!-- .info -->
    </div><!-- .grid-item -->
    <div class="grid-item grid-1-3-m">
      <a href="#" class="avatar"><img src="//lorempixel.com/199/199" alt="AbrahammerLIncolnlog's avatar" /></a>
      <div class="info">
        <a href="#" class="username">Cat</a>
        <a href="#" class="link">http://www.livestream.com/hooray</a>
        <p class="type-alt type-secondary start-time">since 15:20 MST</p>
        <p class="description formatted">Messenger bag Austin hoodie, chambray kitsch quinoa Vice. Blog keffiyeh small batch</p>
      </div><!-- .info -->
    </div><!-- .grid-item -->
    <div class="grid-item grid-1-3-m">
      <a href="#" class="avatar"><img src="//lorempixel.com/201/201" alt="AbrahammerLIncolnlog's avatar" /></a>
      <div class="info">
        <a href="#" class="username">Usernameguy</a>
        <a href="#" class="link">http://www.livestream.com/hooray</a>
        <p class="type-alt type-secondary start-time">since 12:45 MST</p>
        <p class="description formatted">IPhone plaid ennui bespoke YOLO street art</p>
      </div><!-- .info -->
    </div><!-- .grid-item -->
  </div><!-- .grid -->
  <div class="center-action"><a href="streams.htm" class="action disclose">5 total</a></div>
</div><!-- .home-streaming -->

<div class="content home-update content-group">
  <div class="title-wrap">
    <h3 class="title primary">{{ latest_update.title }}</h3>
    <h4 class="title-complement">
      Written {{ latest_update.unixtime | relative_date }} {{ f.by_user(latest_update.owner) }}
    </h4>
  </div>
  <div class="formatted">
    {{ latest_update.content | markdown }}
  </div><!-- .formatted -->
  <div class="center-action"><a href="#" class="action disclose">Discuss this update</a></div>
</div><!-- .home-update -->
{% endblock %}
