{% extends "layout.jinja2" %}

{% block title %}{{ submission.title }}{% endblock %}
{% block body %}
<div class="sub-container">

  <header class="title-wrap">
    <h1 class="title primary">{{ submission.title }}</h1>
    <h2 class="title-complement">{{ f.by_user(submission.owner) }}</h2>
  </header>

  <a class="sub-zoom-toggle" href="{{ submission.submission_media['display_url'] }}">
    <img class="sub-image" src="{{ submission.cover_media['display_url'] }}" alt="sub image" />
  </a>

  <ul class="action-set sub-actions">
    <li><a href="#" class="action"><span class="icon icon-action-star"></span> Favorite</a></li>
    <li><a href="#" class="action"><span class="icon icon-action-heart"></span> Recommend</a></li>
    <li><a href="#" class="action"><span class="icon icon-action-warning"></span> Report</a></li>
  </ul>

</div><!-- .sub-container -->


<div class="content content-group">

  <div class="sub-basic lighter group">
    <div class="sub-owner">
      {{ f.user_avatar(submission.owner) }}
      <div class="info">
        {{ f.user_link(submission.owner) }} {{ submission.unixtime | relative_date }}
      </div>
    </div><!-- .sub-owner -->
    <div class="formatted sub-description">
      {{ submission.content | markdown }}
    </div><!-- .sub-description -->
    <div class="sub-tags">
      {% for tag in submission.tags | sort -%}
      <a href="#" class="tag">{{ tag }}</a>
      {%- endfor %}
      <a href="#" class="action disclose small">Modify</a>
      <a href="{{ request.path_for(submission, 'tag-history') }}" class="action disclose small">History</a>
    </div><!-- .sub-tags -->
  </div><!-- .sub-basic -->

  <div class="sub-stats">
    <h4 class="title secondary toggle disclose title-toggle-max-m max-m" data-toggle-target="next">Stats</h4>
    <!-- would love to use a dl here, but order is wrong and multiple columns is a drag -->
    <ul class="stats-list grid toggle-target-max-m">
      <li class="grid-item"><strong class="stat">{{ submission.page_views }}</strong> Views</li>
      <li class="grid-item"><strong class="stat">{{ n_comments }}</strong> Comments</li>
      <li class="grid-item"><strong class="stat">25</strong> Favorites</li>
      <li class="grid-item"><strong class="stat">{{ submission.rating.name.title() }}</strong> Rating</li>
    </ul>
  </div><!-- .sub-stats -->

  <section class="sub-comments">
    <h4 class="title secondary toggle disclose title-toggle max-m" data-toggle-target="next">13 comments</h4>
    <div class="toggle-target-max-m">
      {% if request.session.user %}
      <form action="{{ request.path_for(submission, 'comment') }}" class="comment" method="post">
        {{ f.form_errors(_comment_errors) }}
        {{ _comment_form['csrf_token'].serialize() | safe }}
        {{ f.user_avatar(request.session.user) }}
        <div class="comment-box hypothetical">
          <div class="comment-info">{{ f.user_link(request.session.user) }}</div>
          {{ _comment_form['comment'].serialize() | safe }}
          <ul class="comment-actions action-set">
            <li><a href="#" class="action small">Formatting help</a></li>
          </ul>
          <button name="save" class="comment-submit action disclose" {{ f.autofocus_submit(_comment_form) }}>
            Save
          </button>
        </div><!-- .comment-box -->
      </form><!-- .comment -->
      {% endif %}

      <ol class="comment-tree">
        {% for comment in comments %}{{ f.show_comment(comment, submission.userid) }}{% endfor %}
      </ol>
    </div><!-- .toggle-target-s -->

  </section><!-- .sub-comments -->

  <div class="sub-related">
    <h4 class="title secondary toggle disclose title-toggle-max-m" data-toggle-target="next">More in &#8220;Landscapes&#8221;</h4>
    <div class="toggle-target-max-m">
      <div class="title-wrap"><h5 class="title tertiary">Older</h5></div>
      <div class="grid thumbs-grid full">
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/221" alt="" />
              <div class="rating explicit">Rated explicit</div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/276" alt="" />
              <div class="rating explicit">Rated explicit</div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/259" alt="" />
              <div class="type"><div class="ribbon"><span class="icon icon-type-music">Music</span></div></div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/109" alt="" />
              <div class="rating mature">Rated mature</div>
              <div class="type"><div class="ribbon"><span class="icon icon-type-multi">Multimedia</span></div></div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/226" alt="" />
            </div>
        </a></div>
      </div><!-- .thumbs-grid -->

      <div class="title-wrap"><h5 class="title tertiary">Newer</h5></div>
      <div class="grid thumbs-grid full">
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/221" alt="" />
              <div class="rating explicit">Rated explicit</div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/276" alt="" />
              <div class="rating explicit">Rated explicit</div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/259" alt="" />
              <div class="type"><div class="ribbon"><span class="icon icon-type-music">Music</span></div></div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/109" alt="" />
              <div class="rating mature">Rated mature</div>
              <div class="type"><div class="ribbon"><span class="icon icon-type-multi">Multimedia</span></div></div>
            </div>
        </a></div>
        <div class="grid-item"><a href="submission.htm" class="item-container">
            <div class="thumb-container">
              <img class="thumb" src="http://lorempixel.com/300/226" alt="" />
            </div>
        </a></div>
      </div><!-- .thumbs-grid -->
    </div>
  </div><!-- .sub-related -->

</div><!-- .content -->
{% endblock %}
